<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>design2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmUpdateServlet</display-name>
    <servlet-name>EmUpdateServlet</servlet-name>
    <servlet-class>servlet.EmUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmUpdateServlet</servlet-name>
    <url-pattern>/EmUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployListServlet</display-name>
    <servlet-name>EmployListServlet</servlet-name>
    <servlet-class>servlet.EmployListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployListServlet</servlet-name>
    <url-pattern>/EmployListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmDelServlet</display-name>
    <servlet-name>EmDelServlet</servlet-name>
    <servlet-class>servlet.EmDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmDelServlet</servlet-name>
    <url-pattern>/EmDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmAddServlet</display-name>
    <servlet-name>EmAddServlet</servlet-name>
    <servlet-class>servlet.EmAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmAddServlet</servlet-name>
    <url-pattern>/EmAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomListServlet</display-name>
    <servlet-name>CustomListServlet</servlet-name>
    <servlet-class>servlet.CustomListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomListServlet</servlet-name>
    <url-pattern>/CustomListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CuDelServlet</display-name>
    <servlet-name>CuDelServlet</servlet-name>
    <servlet-class>servlet.CuDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuDelServlet</servlet-name>
    <url-pattern>/CuDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YingxiaoServlet</display-name>
    <servlet-name>YingxiaoServlet</servlet-name>
    <servlet-class>servlet.YingxiaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YingxiaoServlet</servlet-name>
    <url-pattern>/YingxiaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PinpaiAddServlet</display-name>
    <servlet-name>PinpaiAddServlet</servlet-name>
    <servlet-class>servlet.PinpaiAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinpaiAddServlet</servlet-name>
    <url-pattern>/PinpaiAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarListServlet</display-name>
    <servlet-name>CarListServlet</servlet-name>
    <servlet-class>servlet.CarListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarListServlet</servlet-name>
    <url-pattern>/CarListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PinpaiSelectServlet</display-name>
    <servlet-name>PinpaiSelectServlet</servlet-name>
    <servlet-class>servlet.PinpaiSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinpaiSelectServlet</servlet-name>
    <url-pattern>/PinpaiSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PinpaiDelServlet</display-name>
    <servlet-name>PinpaiDelServlet</servlet-name>
    <servlet-class>servlet.PinpaiDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinpaiDelServlet</servlet-name>
    <url-pattern>/PinpaiDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XinghaoSelectServlet</display-name>
    <servlet-name>XinghaoSelectServlet</servlet-name>
    <servlet-class>servlet.XinghaoSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XinghaoSelectServlet</servlet-name>
    <url-pattern>/XinghaoSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XinghaoAddServlet</display-name>
    <servlet-name>XinghaoAddServlet</servlet-name>
    <servlet-class>servlet.XinghaoAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XinghaoAddServlet</servlet-name>
    <url-pattern>/XinghaoAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PinpaiUpServlet</display-name>
    <servlet-name>PinpaiUpServlet</servlet-name>
    <servlet-class>servlet.PinpaiUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinpaiUpServlet</servlet-name>
    <url-pattern>/PinpaiUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XinghaoDelServlet</display-name>
    <servlet-name>XinghaoDelServlet</servlet-name>
    <servlet-class>servlet.XinghaoDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XinghaoDelServlet</servlet-name>
    <url-pattern>/XinghaoDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XinghaoUpServlet</display-name>
    <servlet-name>XinghaoUpServlet</servlet-name>
    <servlet-class>servlet.XinghaoUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XinghaoUpServlet</servlet-name>
    <url-pattern>/XinghaoUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowXinghaoServlet</display-name>
    <servlet-name>ShowXinghaoServlet</servlet-name>
    <servlet-class>servlet.ShowXinghaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowXinghaoServlet</servlet-name>
    <url-pattern>/ShowXinghaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarDelServlet</display-name>
    <servlet-name>CarDelServlet</servlet-name>
    <servlet-class>servlet.CarDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarDelServlet</servlet-name>
    <url-pattern>/CarDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarUpdateServlet</display-name>
    <servlet-name>CarUpdateServlet</servlet-name>
    <servlet-class>servlet.CarUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarUpdateServlet</servlet-name>
    <url-pattern>/CarUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentServlet</display-name>
    <servlet-name>RentServlet</servlet-name>
    <servlet-class>servlet.RentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentServlet</servlet-name>
    <url-pattern>/RentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyServlet</display-name>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>servlet.BuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CuLoginServlet</display-name>
    <servlet-name>CuLoginServlet</servlet-name>
    <servlet-class>servlet.CuLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuLoginServlet</servlet-name>
    <url-pattern>/CuLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CuAddServlet</display-name>
    <servlet-name>CuAddServlet</servlet-name>
    <servlet-class>servlet.CuAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuAddServlet</servlet-name>
    <url-pattern>/CuAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeadServlet</display-name>
    <servlet-name>HeadServlet</servlet-name>
    <servlet-class>servlet.HeadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeadServlet</servlet-name>
    <url-pattern>/HeadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CuMimaServlet</display-name>
    <servlet-name>CuMimaServlet</servlet-name>
    <servlet-class>servlet.CuMimaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuMimaServlet</servlet-name>
    <url-pattern>/CuMimaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentCarServlet</display-name>
    <servlet-name>RentCarServlet</servlet-name>
    <servlet-class>servlet.RentCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentCarServlet</servlet-name>
    <url-pattern>/RentCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyCarServlet</display-name>
    <servlet-name>BuyCarServlet</servlet-name>
    <servlet-class>servlet.BuyCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyCarServlet</servlet-name>
    <url-pattern>/BuyCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LevelServlet</display-name>
    <servlet-name>LevelServlet</servlet-name>
    <servlet-class>servlet.LevelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LevelServlet</servlet-name>
    <url-pattern>/LevelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseCarServlet</display-name>
    <servlet-name>ChooseCarServlet</servlet-name>
    <servlet-class>servlet.ChooseCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseCarServlet</servlet-name>
    <url-pattern>/ChooseCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyNowServlet</display-name>
    <servlet-name>BuyNowServlet</servlet-name>
    <servlet-class>servlet.BuyNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyNowServlet</servlet-name>
    <url-pattern>/BuyNowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentNowServlet</display-name>
    <servlet-name>RentNowServlet</servlet-name>
    <servlet-class>servlet.RentNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentNowServlet</servlet-name>
    <url-pattern>/RentNowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarAddServlet</display-name>
    <servlet-name>CarAddServlet</servlet-name>
    <servlet-class>servlet.CarAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarAddServlet</servlet-name>
    <url-pattern>/CarAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealServlet</display-name>
    <servlet-name>DealServlet</servlet-name>
    <servlet-class>servlet.DealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealServlet</servlet-name>
    <url-pattern>/DealServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelfServlet</display-name>
    <servlet-name>SelfServlet</servlet-name>
    <servlet-class>servlet.SelfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfServlet</servlet-name>
    <url-pattern>/SelfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Top2Servlet</display-name>
    <servlet-name>Top2Servlet</servlet-name>
    <servlet-class>servlet.Top2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Top2Servlet</servlet-name>
    <url-pattern>/Top2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Left2Servlet</display-name>
    <servlet-name>Left2Servlet</servlet-name>
    <servlet-class>servlet.Left2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Left2Servlet</servlet-name>
    <url-pattern>/Left2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackServlet</display-name>
    <servlet-name>BackServlet</servlet-name>
    <servlet-class>servlet.BackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackServlet</servlet-name>
    <url-pattern>/BackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackCarServlet</display-name>
    <servlet-name>BackCarServlet</servlet-name>
    <servlet-class>servlet.BackCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackCarServlet</servlet-name>
    <url-pattern>/BackCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackProcessServlet</display-name>
    <servlet-name>BackProcessServlet</servlet-name>
    <servlet-class>servlet.BackProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackProcessServlet</servlet-name>
    <url-pattern>/BackProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeadUpServlet</display-name>
    <servlet-name>HeadUpServlet</servlet-name>
    <servlet-class>servlet.HeadUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeadUpServlet</servlet-name>
    <url-pattern>/HeadUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MimaServlet</display-name>
    <servlet-name>MimaServlet</servlet-name>
    <servlet-class>servlet.MimaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MimaServlet</servlet-name>
    <url-pattern>/MimaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>servlet.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/ShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestNameServlet</display-name>
    <servlet-name>TestNameServlet</servlet-name>
    <servlet-class>servlet.TestNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestNameServlet</servlet-name>
    <url-pattern>/TestNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JifenListServlet</display-name>
    <servlet-name>JifenListServlet</servlet-name>
    <servlet-class>servlet.JifenListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JifenListServlet</servlet-name>
    <url-pattern>/JifenListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JifenUpServlet</display-name>
    <servlet-name>JifenUpServlet</servlet-name>
    <servlet-class>servlet.JifenUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JifenUpServlet</servlet-name>
    <url-pattern>/JifenUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Left3Servlet</display-name>
    <servlet-name>Left3Servlet</servlet-name>
    <servlet-class>servlet.Left3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Left3Servlet</servlet-name>
    <url-pattern>/Left3Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarList2Servlet</display-name>
    <servlet-name>CarList2Servlet</servlet-name>
    <servlet-class>servlet.CarList2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarList2Servlet</servlet-name>
    <url-pattern>/CarList2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PinpaiSelect2Servlet</display-name>
    <servlet-name>PinpaiSelect2Servlet</servlet-name>
    <servlet-class>servlet.PinpaiSelect2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinpaiSelect2Servlet</servlet-name>
    <url-pattern>/PinpaiSelect2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XinghaoSelect2Servlet</display-name>
    <servlet-name>XinghaoSelect2Servlet</servlet-name>
    <servlet-class>servlet.XinghaoSelect2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XinghaoSelect2Servlet</servlet-name>
    <url-pattern>/XinghaoSelect2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomList2Servlet</display-name>
    <servlet-name>CustomList2Servlet</servlet-name>
    <servlet-class>servlet.CustomList2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomList2Servlet</servlet-name>
    <url-pattern>/CustomList2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployList2Servlet</display-name>
    <servlet-name>EmployList2Servlet</servlet-name>
    <servlet-class>servlet.EmployList2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployList2Servlet</servlet-name>
    <url-pattern>/EmployList2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JifenList2Servlet</display-name>
    <servlet-name>JifenList2Servlet</servlet-name>
    <servlet-class>servlet.JifenList2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JifenList2Servlet</servlet-name>
    <url-pattern>/JifenList2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCarServlet</display-name>
    <servlet-name>SelectCarServlet</servlet-name>
    <servlet-class>servlet.SelectCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCarServlet</servlet-name>
    <url-pattern>/SelectCarServlet</url-pattern>
  </servlet-mapping>
</web-app>